<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <button class="btn_1 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="fa-solid fa-list"></i>
      
      </button>
     
    <a class="navbar-brand px-4" href="#"></a>
    <div class="navbar-collapse">

        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Language Option</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><button class="dropdown-item"  (click)="toArabic()">Arabic</button></li>
                  </ul>
                
            </li>
            <button class="nav-button_logout">Logout</button>
            <button class="nav_button_Contat">Contact Us</button>
            <button class="nav_button_Home">Home</button>
        </ul>
    </div>
</nav>
<!-- navbar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" dir="rtl">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">
<!-- sidenavbar start -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          مدير النظام
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          المستودعات الخاصة
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ترخيص وكالة تخليص  <br>الأحداث الرياضية

        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          تسجيل
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          بيان البضائع

        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          البضائع المحتجزة
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--form -->
  
<div class="area1">الموافقة على وكالة واضحة</div>
  <div class="area"><br><br><br>
    <div class="area">
      
      <form [formGroup]="SearchForm" class='form' dir="rtl">
        <div class="searchInput">Search Criretia</div><br><hr class="Horizon">
        <div class="form-grid">
          <div class="form-group">
           
            <label for="crnumber">رقم السجل التجاري:</label>
            <input type="text" formControlName="crnumber" id="crnumber" class="form-control" placeholder="اسم السجل التجاري" />
          </div>
          <div class="form-group">
            <label for="agencyname">اسم الوكالة:</label>
            <input type="text" formControlName="agencyname" id="agencyname" class="form-control" placeholder="اسم الوكالة" />
          </div>
          <div class="form-group">
            <label for="customscode">رمز الجمارك:</label>
            <input type="text" formControlName="customscode" id="customscode" class="form-control" placeholder="رمز الجمارك" />
          </div>
          <div class="form-group">
            <label for="Creationdate">تاريخ الإنشاء من:</label>
            <input type="datetime-local" formControlName="Creationdate" id="Creationdate" class="form-control" placeholder="تاريخ الإنشاء" />
          </div>
          <div class="form-group">
            <label for="clearingagency">نوع وكالة التخليص:</label>
            <select formControlName="status" id="status" class="form-control" >
              <option value="" disabled selected>اختر واحدة</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="status">الحالة:</label>
            <select formControlName="status" id="status" class="form-control" >
              <option value="" disabled selected>اختر واحدة</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="establishment">رقم الهيئة:</label>
            <input type="text" formControlName="establishment" id="establishment" class="form-control" placeholder="رقم الهيئة" />
          </div>
          <div class="form-group">
            <label for="creationDateto">تاريخ الإنشاء إلى:</label>
            <input type="datetime-local" formControlName="creationDateto" id="creationDateto" class="form-control" placeholder="تاريخ الإنشاء إلى" />
          </div>
        </div>
      </form>
    </div>
    <div class="center-container">
      <button (click)="formDetail()" class="buttonSearch">بحث</button>&nbsp;&nbsp;&nbsp;
      <button  class="buttonSearch" (click)="resetDetails()">إعادة ضبط</button>
    </div>
  </div>
  
  <!-- table -->
  <div class="searchInput" id="searchid">Search Results</div><br><hr id="hrid" >
  <table class="formTable" dir="rtl">
    <thead>
      <tr>
        <th *ngFor="let column of headers">عنوان العمود</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows | searchFilter :searchCity">
        <td>{{row.CRNumber}}</td>
        <td>{{row.CustomCode}}</td>
        <td>{{row.AgencyName}}</td>
        <!-- <td>{{row.CreationDateFrom}}</td> -->
        <td>{{row.Status}}</td>
        <td>{{row.CreationDateTo}}</td>
        <td>{{row.ClearingAgency}}</td>
        <td>{{row.EstablishmentID}}</td>
        <!-- <td>{{row.Country}}</td> -->
      </tr>
    </tbody>
  </table>
  