
/* CSS to place the button on the right side */
.area1{
  border: 2px solid black;
  background-color: black;
  color: white;
  width: 1560px;
  height: 35px;
  position: relative;
  top: 76px;
  left: 46px;
  font-size: 18px;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}
.button-container {
    display: flex;
    justify-content: flex-end;
  }

  .btn{
    position: relative;
    background: black;
    color: white;
    left: -9%;
    top: 1px;
    

}
.btn_1{
  position: relative;
  background: black;
  color: white;
  left: 97%;
  top: 1px;

}
/* CSS for button home contact logout */
.nav-button_logout{
  position: relative;
  left: 1316px;;
}
.nav_button_Contat{
  position: relative;
  left: 1159px;

}
.nav_button_Home{
  position: relative;
  left: 1006px;
}

/* button{
    position: relative;
    bottom: 20px;
    background-color: black;
    color: white;
    z-index: 1;
    left: 10px;
   
} */
  /* Sidebar Styles */
.offcanvas-start {
    position: fixed;
    top: 51px; /* Distance from the top */
    
    left: 1437px; /* Distance from the left */
    right: -250px;
    width: 250px; /* Sidebar width */
    height: 100%; /* Full height of the viewport */
    /* background-color:rgb(23, 22, 22); Sidebar background color */
    color: black; 
    z-index: 1;
    overflow-y: auto; /* Allow sidebar content to be scrollable if needed */
    transition: left  ease;
    
  }
  
  /* Example Styling for Links or Icons in the Sidebar */
  .offcanvas-start a {
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  /* Hover effect for links or icons */
  .offcanvas-start a:hover {
    background-color: #555;
    
  }
  
  /* Content Area Styles */
  .offcanvas-body {
    margin-left: 0px; /* Make space for the sidebar */
    padding: 20px; /* Add padding to the content */
  }
  .btn-close{
    background-color: white;
    color: black;
    position: relative;
    top: 50px;
    border-radius: 10px;
}
  
/* Style for offcanvas sidebar content */
.offcanvas-body {
  padding: 20px;
  background-color: #23282e;
  color: #333;
  font-family: Arial, sans-serif;
  position: initial;
  }
  
  /* Style for individual items within the sidebar content */
  .offcanvas-body p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  /* Icon styles */
  .offcanvas-body i {
    margin-right: 10px; /* Space between the icon and text */
    font-size: 24px; /* Adjust the icon size as needed */

  }
  
  
  /* ===================================================== */
  /* ------------ */
 /* Style for the offcanvas toggle button */
.btn-secondary {
  
    background-color: white;/* Button background color */
    color: black; /* Button text color */
    border: 2px solid black; /* Remove button border */
    padding: 14px 15px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition effect */
    width: 162px;
  }
  
  /* Icon styles */
  .btn-secondary i {
    margin-right: 5px; /* Space between the icon and text */
    font-size: 18px; /* Icon size */
  }
  
  /* Hover effect */
  .btn-secondary:hover {
    background-color: grey; /* Button background color on hover */
    color: #fff; /* Button text color on hover */
  }
   
   /* for Input fields */

   .form {
    position: relative;
    bottom: -67px;
    height: 118vh;
    border: 2px solid black;
    width: 1560px;
    margin: auto;
    left: -16px;
    top: 13px;
      
    }
    
    .form-grid {
      position: relative;
      top: 20px;
      left: 44px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
      gap: 20px; /* Adjust the gap between form groups */
      width: 70%;
      margin: 0 auto;
     
      
    }
    
    .form-group {
      display: flex;
      flex-direction: column;
    }
    
    /* Style for labels */
    label {
      font-weight: bold;
      margin-bottom: 4px;
    }
  
    
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1vh; /* Adjust the height as needed to center vertically on the viewport */
      position: relative;
      bottom: 300px;
    }
  
    /* formTable */
    .formTable{
      position: relative;
      right: 100px;
      bottom: 416px;
      margin: auto;
     
  
    }
    .buttonSearch{
      position: relative;
      bottom: 90px;
      left: 20px;
      border: 2px solid black;
      border-radius: 6%;
      width: 100px;
      height: 39px;
      border-radius: 14%;
    }


    /* table CSS */

    .formTable {
        width: 80%;
        border-collapse: collapse;
        border: 1px solid #ccc;
        font-family: Arial, sans-serif;
      }
      
      .formTable th,
      .formTable td {
        
        padding: 10px;
        text-align: right;
        border: 1px solid #ccc;
      }
      
      .formTable th {
        background-color: black;
       
        
      
        color: white;
        font-weight: bold;
      }
      
      .formTable tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      
      .formTable tbody tr:hover {
        background-color: #e0e0e0;
      }

      /* CSS for div and hr(horizontal rule) */
      /* Style the search input container */
.searchInput {
  text-align: right; /* Right-align the text */
  padding: 10px; /* Add padding for spacing */
  margin: 20px; /* Add margin to separate it from surrounding elements */
  font-size: 18px; /* Adjust font size as needed */
  color: #333; /* Text color */
  direction: rtl; /* Set the text direction to right-to-left */
}
#searchid{
  position: relative;
  bottom: 400px;
  right: 80px;
}
#hrid{
  position: relative;
  bottom: 450px;
  width: 90%;
  left: 70px;
}
/* Style the horizontal line */
.searchInput hr {
  border: none; /* Remove the default border */
  height: 1px; /* Set the height of the line */
 
  margin: 10px 0; /* Add margin above and below the line */
}
.Horizon{
  width: 97%;
  position: relative;
  left: -27px;
  bottom: 47px;

}


      /* sidebar */
      
/* --------------------------------- */
.btnDetained {
  width: 150px; /* Set your desired width */
  height: 40px; /* Set your desired height */
  color: black;
  background: white;
  position: relative;
  bottom: 16px;
  z-index: 1;
  right: 20px;
}

/* If you want to center the text vertically and horizontally within the button, you can use flexbox: */
/* button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 199px; Set your desired width
  height: 72px; Set your desired height
  color: black;
  background: white;
  position: relative;
  bottom: -32px;
  z-index: 1;
  right: -2px;
} */



  
 
  
  


  
  /* Style for individual items within the sidebar content */
  .dropdown {
    margin: 0;
    padding: 0px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  

  
  /* Hover effect */
  .offcanvas-body p:hover {
    background-color: #f0f0f0; /* Background color on hover */
    color: #333; /* Text color on hover */
  }
  /* ------------ */
 /* Style for the offcanvas toggle button */
/* .btn-secondary {
 
  
  /* Icon styles */
  .btn-secondary i {
    margin-right: 5px; /* Space between the icon and text */
    font-size: 18px; /* Icon size */
  }
  .dropdown-item{
   
    color: white;
    
  }
  
  /* Hover effect */
  .btn-secondary:hover {
     /* Button background color on hover */
    color: #fff; /* Button text color on hover */
  }
   
   
  /*  =========== */
.dropdown-menu{
  background-color: grey;
}
.offcanvas-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;


}
  