
/* --------------------------------- */
.btnDetained {
  width: 150px; /* Set your desired width */
  height: 40px; /* Set your desired height */
  color: black;
  background: white;
  position: relative;
  bottom: 16px;
  z-index: 1;
  right: 20px;
}

/* If you want to center the text vertically and horizontally within the button, you can use flexbox: */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 199px; /* Set your desired width */
  height: 72px; /* Set your desired height */
  color: black;
  background: white;
  position: relative;
  bottom: -32px;
  z-index: 1;
  right: -2px;
}


.offcanvas-start {
    position: fixed;
    top: 30px; /* Distance from the top */
    left: 0; /* Distance from the left */
    width: 250px; /* Sidebar width */
    height: 100%; /* Full height of the viewport */
    /* background-color:rgb(23, 22, 22); Sidebar background color */
    
    z-index: 1;
    overflow-y: auto; /* Allow sidebar content to be scrollable if needed */
  }
  
 
  
  /* Content Area Styles */
  .offcanvas-body {
    margin-left: 0px; /* Make space for the sidebar */
    padding: 20px; /* Add padding to the content */
  }
  .btn-close{
    background-color: white;
    color: black;
    position: relative;
    top: 50px;
    border-radius: 10px;
}
  
/* Style for offcanvas sidebar content */
.offcanvas-body {
  padding: 20px;
  background-color:#23282e;
  color: black;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

  
  /* Style for individual items within the sidebar content */
  .dropdown {
    margin: 0;
    padding: 0px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  

  
  /* Hover effect */
  .offcanvas-body p:hover {
    background-color: #f0f0f0; /* Background color on hover */
    color: #333; /* Text color on hover */
  }
  /* ------------ */
 /* Style for the offcanvas toggle button */
/* .btn-secondary {
 
  
  /* Icon styles */
  .btn-secondary i {
    margin-right: 5px; /* Space between the icon and text */
    font-size: 18px; /* Icon size */
  }
  .dropdown-item{
   
    color: white;
    
  }
  
  /* Hover effect */
  .btn-secondary:hover {
     /* Button background color on hover */
    color: #fff; /* Button text color on hover */
  }
   
   
  /*  =========== */
.dropdown-menu{
  background-color: grey;
}
.offcanvas-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;


}
  